<template name="headerWrapper">
  <div id="headerWrapper" class="container">
    <div class="row">
      <div class="col s4">
        <img id="logo" src="/images/sergeant_cropped.jpg">
      </div>
      <div class="col s8 headerTitle">
        <h3><b>Commando Chat</b></h3>
      </div>
      {{#if loggedIn}}
        <div class="col s4 searchIcon">
          <a href="#"><span class="glyphicon glyphicon-search"></span></a>
        </div>
        <div class="col s4 signOut">
          <a href="{{pathFor 'home'}}">Sign Out</a>
        </div>
      {{else}}
        <div class="col s4 signUp">
          <a href="{{pathFor 'signUp'}}">Sign Up</a>
        </div>
        <div class="col s4 signIn">
          <a href="{{pathFor 'signIn'}}">Log In</a>
        </div>
      {{/if}}
    </div>
  </div>
</template>
