<template name="loginPage">
  <div class="loginPage centerIt">
    <section class="row">
      <div class="col-xs-2"></div>
      <div class="col-xs-8"><hr /></div>
      <div class="col-xs-2"></div>
    </section>
    <p>Only the manliest of men will enter...</p>
    <!-- enter cartoon sergeant image here -->
    <h3>So what's it gonna be:</h3>
    <br />
    <section class="row">
      <div class="col-xs-12 col-sm-3"></div>
      <div class="col-xs-12 col-sm-3">
        <div class="enlist">
          <p><b>ENLIST NOW!</b></p></div>
        </div>
      <div class="col-xs-12 col-sm-3">
        <div class="frontline">
          <p><b>ENTER FRONTLINES!</b></p></div>
        </div>
      <div class="col-sm-3"></div>
    </section>
  </div>
</template>