<template name="notFound">
  <br />
  <br />
  <section class="row centerIt">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <h1>WHAT IS YOUR MAJOR MALFUNCTION <strong>NUMBNUTS</strong>?!?!</h1>
      <hr />
      <h1>ENTER YOUR URL CORRECTLY <strong>MAGGOT</strong>!!!</h1>
    </div>
    <div class="col-xs-2"></div>
  </section>
  <section class="row centerIt">
    <div class="col-xs-3"></div>
    <div class="col-xs-6"><hr /></div>
    <div class="col-xs-3"></div>
  </section>
  <h3 class="centerIt">Love, Commando Chat</h3>
  <br />
  <br />
</template>